{
  "openapi": "3.0.3",
  "info": {
    "description": "The v2 API delivers a significantly improved developer experience with consistent design patterns and enhanced functionality.",
    "title": "Inngest REST API v2",
    "version": "2.0.0"
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.inngest.com/v2"
    },
    {
      "description": "Development server",
      "url": "http://localhost:8288/api/v2"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "description": "Returns the account for the authenticated user",
        "operationId": "V2_FetchAccount",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "createdAt": "2024-01-10T09:15:00Z",
                        "email": "user@company.com",
                        "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                        "name": "Current User",
                        "updatedAt": "2024-01-20T12:00:00Z"
                      },
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2FetchAccountResponse"
                }
              }
            },
            "description": "Account"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": "Authentication failed"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get account",
        "tags": [
          "Account"
        ]
      }
    },
    "/apps": {
      "get": {
        "description": "Lists active apps in the authenticated environment. Set archived to true to list archived apps instead.",
        "operationId": "V2_GetApps",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of apps to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Whether to return archived apps instead of active apps",
            "in": "query",
            "name": "archived",
            "schema": {
              "default": "false",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetAppsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get apps",
        "tags": [
          "Apps"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}": {
      "get": {
        "description": "Fetches details for a single app, including sync metadata and function count",
        "operationId": "V2_GetApp",
        "parameters": [
          {
            "description": "The user-defined app ID",
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "createdAt": "2024-01-10T09:15:00Z",
                        "functionCount": 2,
                        "id": "my-app",
                        "isArchived": false,
                        "latestSync": {
                          "sdkLanguage": "typescript",
                          "sdkVersion": "3.22.0",
                          "url": "https://example.com/api/inngest"
                        },
                        "method": "SERVE",
                        "name": "my-app"
                      },
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2GetAppResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get app",
        "tags": [
          "Apps"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}/functions": {
      "get": {
        "description": "Lists function configuration and status details for an app",
        "operationId": "V2_GetFunctions",
        "parameters": [
          {
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of functions to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "app": {
                            "id": "production-app"
                          },
                          "configuration": {
                            "retries": {
                              "isDefault": true,
                              "value": 3
                            }
                          },
                          "id": "send-welcome-email",
                          "isArchived": false,
                          "isPaused": false,
                          "name": "Send welcome email",
                          "slug": "send-welcome-email",
                          "triggers": [
                            {
                              "type": "EVENT",
                              "value": "user.created"
                            }
                          ]
                        }
                      ],
                      "metadata": {
                        "fetchedAt": "2026-06-10T12:00:00Z"
                      },
                      "page": {
                        "cursor": null,
                        "hasMore": false,
                        "limit": 20
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2GetFunctionsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get functions",
        "tags": [
          "Functions"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}/functions/{functionId}": {
      "get": {
        "description": "Fetches function configuration and status details for a function within an app",
        "operationId": "V2_GetFunction",
        "parameters": [
          {
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetFunctionResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get function",
        "tags": [
          "Functions"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}/functions/{functionId}/experiments": {
      "get": {
        "description": "Lists observed experiments for one function in the authenticated environment.",
        "operationId": "V2_ListExperiments2",
        "parameters": [
          {
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of experiments to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListExperimentsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List experiments for a function",
        "tags": [
          "Experiments"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}/functions/{functionId}/experiments/{experimentId}": {
      "get": {
        "description": "Fetches variant run counts and score aggregates for one experiment on one function.",
        "operationId": "V2_GetExperiment",
        "parameters": [
          {
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "experimentId",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string"
            }
          },
          {
            "description": "Optional variant name to restrict the aggregate response.",
            "in": "query",
            "name": "variant",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetExperimentResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get experiment aggregates",
        "tags": [
          "Experiments"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}/functions/{functionId}/invoke": {
      "post": {
        "description": "Invokes a function, executing the function either asynchronously or synchronously based on the mode parameter in the request body",
        "operationId": "V2_InvokeFunction",
        "parameters": [
          {
            "description": "The ID of the app containing the function",
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the function to invoke",
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2InvokeFunctionBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2InvokeFunctionResponse"
                }
              }
            },
            "description": "Function invoked asynchronously"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2InvokeFunctionResponse"
                }
              }
            },
            "description": "Function invoked synchronously but has not yet finished executing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - function not found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2InvokeFunctionResponse"
                }
              }
            },
            "description": "Conflict - this function has already been invoked using the given idempotency key.  Note that this returns the previously invoked run's data."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity - function was rate limited, debounced, skipped, or otherwise could not be invoked"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests - API rate limit exceeded.  The request was entirely rejected, and no function was invoked."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Invoke function",
        "tags": [
          "Functions"
        ]
      }
    },
    "/apps/{appId}/functions/{functionId}/runs": {
      "get": {
        "description": "Lists runs for one function in the authenticated environment",
        "operationId": "V2_ListFunctionRuns",
        "parameters": [
          {
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeOutput",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of runs to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Inclusive start of the run time range",
            "in": "query",
            "name": "from",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Inclusive end of the run time range",
            "in": "query",
            "name": "until",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Run timestamp field used for filtering and ordering. Accepts queuedAt, startedAt, or endedAt. Snake case aliases such as QUEUED_AT, STARTED_AT, and ENDED_AT are also accepted.",
            "in": "query",
            "name": "timeField",
            "schema": {
              "default": "queuedAt",
              "type": "string"
            }
          },
          {
            "description": "Statuses to include, using response status values such as COMPLETED, FAILED, RUNNING, QUEUED, CANCELLED, SKIPPED, or PAUSED",
            "in": "query",
            "name": "status",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Whether to include only deferred or non-deferred runs",
            "in": "query",
            "name": "isDeferred",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Sort direction. Accepts ASC or DESC.",
            "in": "query",
            "name": "order",
            "schema": {
              "default": "DESC",
              "type": "string"
            }
          },
          {
            "description": "CEL expression used to filter runs by event, output, or error data",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional run expansions. Supported values: deferred_from.",
            "in": "query",
            "name": "include",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListFunctionRunsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List runs for a function",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/apps/{appId}/syncs": {
      "post": {
        "description": "Sync an app at the provided URL.",
        "operationId": "V2_SyncApp",
        "parameters": [
          {
            "description": "App ID",
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SyncAppBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2SyncAppResponse"
                }
              }
            },
            "description": "App sync completed successfully or the app was already up to date"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - environment not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2SyncAppResponse"
                }
              }
            },
            "description": "Unprocessable Entity - sync failed. The response body is still SyncAppResponse and includes the persisted deploy plus a coded error under data.latestSync.error."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Sync app",
        "tags": [
          "Apps"
        ],
        "x-beta": true
      }
    },
    "/env/webhooks": {
      "get": {
        "description": "Lists all webhooks in the specified environment",
        "operationId": "V2_ListWebhooks",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of webhooks to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Target environment for the webhooks (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "name": "X-Inngest-Env",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListWebhooksResponse"
                }
              }
            },
            "description": "List of webhooks"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid query parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ]
      },
      "post": {
        "description": "Creates a new webhook for receiving events",
        "operationId": "V2_CreateWebhook",
        "parameters": [
          {
            "description": "Target environment for the webhook (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "name": "X-Inngest-Env",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2CreateWebhookRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2CreateWebhookResponse"
                }
              }
            },
            "description": "Webhook successfully created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Conflict - webhook with same URL already exists"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity - business logic validation failed"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create webhook",
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/envs": {
      "get": {
        "description": "List of all custom environments.",
        "operationId": "V2_FetchAccountEnvs",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of environments to return per page (min: 1, max: 250)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "50",
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "createdAt": "2024-01-10T09:15:00Z",
                          "id": "a1b2c3d4-e5f6-4789-abc1-234567890def",
                          "name": "production",
                          "type": "PRODUCTION"
                        },
                        {
                          "createdAt": "2024-01-12T11:30:00Z",
                          "id": "b2c3d4e5-f6a7-4890-bcd2-34567890abef",
                          "name": "staging",
                          "type": "TEST"
                        }
                      ],
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      },
                      "page": {
                        "hasMore": false,
                        "limit": 50
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2FetchAccountEnvsResponse"
                }
              }
            },
            "description": "List of account environments"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "missing_field",
                          "message": "Environment name is required"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid query parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": "Authentication failed"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - account not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List environments",
        "tags": [
          "Environments"
        ]
      },
      "post": {
        "description": "Create custom environment",
        "operationId": "V2_CreateEnv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2CreateEnvRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "createdAt": "2024-01-20T14:22:33Z",
                        "id": "c3d4e5f6-a7b8-4901-cde3-4567890bcfa0",
                        "name": "development",
                        "type": "BRANCH"
                      },
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2CreateEnvResponse"
                }
              }
            },
            "description": "Env successfully created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": "Authentication failed"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Conflict - account already exists"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create environment",
        "tags": [
          "Environments"
        ]
      }
    },
    "/envs/{id}": {
      "patch": {
        "description": "Partially updates an environment. Only the provided fields will be modified.",
        "operationId": "V2_PatchEnv",
        "parameters": [
          {
            "description": "The ID of the environment to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2PatchEnvBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2PatchEnvsResponse"
                }
              }
            },
            "description": "Environment successfully updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - environment not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity - business logic validation failed"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Update environment",
        "tags": [
          "Environments"
        ]
      }
    },
    "/events": {
      "post": {
        "description": "Sends one event for testing and debugging. The request accepts the name, data, user, id, and ts fields; send batches and other Event API fields through an Inngest SDK or the Event API. This endpoint uses REST API rate limits and is not intended for high-volume ingestion. Use the returned event ID with the event runs endpoint to inspect any function runs triggered by the event.",
        "operationId": "V2_SendEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2SendEventRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "eventId": "01K1QQ3VQ8R3M8QX4D51J8G7XH"
                      },
                      "metadata": {
                        "fetchedAt": "2026-08-06T16:00:00Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2SendEventResponse"
                }
              }
            },
            "description": "Event accepted"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "validation_error",
                          "message": "timestamp is before Jan 1, 1980"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid event data"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "authorization_header_missing",
                          "message": "authorization header missing or invalid"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "access_denied",
                          "message": "Cannot send events to an archived environment"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - events cannot be sent to the selected environment"
          },
          "413": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "invalid_request",
                          "message": "Request body cannot exceed 3145728 bytes"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Payload Too Large - request body exceeds the endpoint limit"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "rate_limited",
                          "message": "API rate limit exceeded. The request was rejected and no event was sent."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests - API rate limit exceeded. The request was rejected and no event was sent."
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Unable to send event"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Send event",
        "tags": [
          "Events"
        ]
      }
    },
    "/events/{eventId}/runs": {
      "get": {
        "description": "Lists function runs triggered by a specific event",
        "operationId": "V2_GetEventRuns",
        "parameters": [
          {
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeOutput",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of runs to return per page (min: 1, max: 40)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetEventRunsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get event runs",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/experiments": {
      "get": {
        "description": "Lists observed experiments in the authenticated environment. Use the nested app and function route to scope results to one function.",
        "operationId": "V2_ListExperiments",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of experiments to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "appId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "functionId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListExperimentsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List experiments",
        "tags": [
          "Experiments"
        ],
        "x-beta": true
      }
    },
    "/insights/events/schemas": {
      "get": {
        "description": "Returns a paginated list of event type schemas, where each schema describes the shape of a specific event's data as nested JSON.",
        "operationId": "V2_ListInsightsEventSchemas",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of event schemas to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListInsightsEventSchemasResponse"
                }
              }
            },
            "description": "Paginated list of event type schemas"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid query parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List event type schemas",
        "tags": [
          "Insights"
        ],
        "x-beta": true
      }
    },
    "/insights/query": {
      "post": {
        "description": "Query Insights using the provided SQL query.",
        "operationId": "V2_QueryInsights",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2QueryInsightsRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2QueryInsightsResponse"
                }
              }
            },
            "description": "Query executed successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - environment not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity - Query validation or execution failed."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Query insights",
        "tags": [
          "Insights"
        ],
        "x-beta": true
      }
    },
    "/insights/query/prompt": {
      "post": {
        "description": "Translates a natural language prompt into an Insights SQL query.",
        "operationId": "V2_QueryInsightsPrompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2QueryInsightsPromptRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2QueryInsightsPromptResponse"
                }
              }
            },
            "description": "Query generated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity - prompt could not be translated into a valid query"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Generate insights query from prompt",
        "tags": [
          "Insights"
        ],
        "x-beta": true
      }
    },
    "/insights/tables": {
      "get": {
        "description": "Lists the available tables that can be queried via the Insights query endpoint.",
        "operationId": "V2_ListInsightsTables",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListInsightsTablesResponse"
                }
              }
            },
            "description": "List of available insights tables"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List insights tables",
        "tags": [
          "Insights"
        ],
        "x-beta": true
      }
    },
    "/keys/events": {
      "get": {
        "description": "Lists event keys for a specific account, optionally filtered by environment. If the environment header isn't specified, this returns the default production environment's keys.",
        "operationId": "V2_FetchAccountEventKeys",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of event keys to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter event keys by environment (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "name": "X-Inngest-Env",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "createdAt": "2024-01-15T10:30:00Z",
                          "environment": "production",
                          "id": "d4e5f6a7-b8c9-4012-def4-567890cdab12",
                          "key": "inngest-event-key-prod-abc123",
                          "name": "Production Event Key"
                        },
                        {
                          "createdAt": "2024-01-18T14:22:33Z",
                          "environment": "staging",
                          "id": "e5f6a7b8-c9d0-4123-efa5-67890dbc1234",
                          "key": "inngest-event-key-stage-def456",
                          "name": "Staging Event Key"
                        }
                      ],
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      },
                      "page": {
                        "cursor": "01K3SB60E36ZMPEV43BG0H20MW",
                        "hasMore": true,
                        "limit": 20
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2FetchAccountEventKeysResponse"
                }
              }
            },
            "description": "List of account event keys"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "invalid_field_format",
                          "message": "Limit must be at least 1"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid query parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": "Authentication failed"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - account not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List account event keys",
        "tags": [
          "Keys"
        ]
      }
    },
    "/keys/signing": {
      "get": {
        "description": "Lists signing keys for a specific account, optionally filtered by environment.  If the environment header isn't specified, this returns the default production environment's keys.",
        "operationId": "V2_FetchAccountSigningKeys",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of signing keys to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter signing keys by environment (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "name": "X-Inngest-Env",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "createdAt": "2024-01-15T10:30:00Z",
                          "environment": "production",
                          "id": "f6a7b8c9-d0e1-4234-fab6-7890ecd23456",
                          "key": "signkey-prod-abc123def456",
                          "name": ""
                        }
                      ],
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      },
                      "page": {
                        "cursor": null,
                        "hasMore": false,
                        "limit": 20
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2FetchAccountSigningKeysResponse"
                }
              }
            },
            "description": "List of account signing keys"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "invalid_field_format",
                          "message": "Limit must be at least 1"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid query parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": "Authentication failed"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Not Found - account not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List account signing keys",
        "tags": [
          "Keys"
        ]
      }
    },
    "/partner/accounts": {
      "get": {
        "description": "Lists sub-accounts (if you have partner access)",
        "operationId": "V2_FetchPartnerAccounts",
        "parameters": [
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of accounts to return per page (min: 1, max: 1000)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "createdAt": "2024-01-15T10:30:00Z",
                          "email": "partner1@company.com",
                          "id": "a7b8c9d0-e1f2-4345-abc7-890fed345678",
                          "name": "Partner Account 1",
                          "updatedAt": "2024-01-15T10:30:00Z"
                        },
                        {
                          "createdAt": "2024-01-18T14:22:33Z",
                          "email": "partner2@company.com",
                          "id": "b8c9d0e1-f2a3-4456-bcd8-90aef4567890",
                          "name": "Partner Account 2",
                          "updatedAt": "2024-01-18T14:22:33Z"
                        }
                      ],
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      },
                      "page": {
                        "cursor": "01K3SB60E36ZMPEV43BG0H20MW",
                        "hasMore": true,
                        "limit": 2
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2FetchAccountsResponse"
                }
              }
            },
            "description": "List of accounts"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid query parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "access_denied",
                          "message": "You do not have access to the partner API.  Please reach out to sales@inngest.com to gain access."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "access_denied",
                          "message": "You do not have access to the partner API.  Please reach out to sales@inngest.com to gain access."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - insufficient permissions"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List partner accounts",
        "tags": [
          "Partner API"
        ]
      },
      "post": {
        "description": "Creates a sub-account (if you have partner access)",
        "operationId": "V2_CreatePartnerAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2CreateAccountRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "data": {
                        "apiKey": "api-abcdef1234567890",
                        "createdAt": "2024-01-20T14:22:33Z",
                        "email": "user@example.com",
                        "id": "c9d0e1f2-a3b4-4567-cde9-01bfa5678901",
                        "name": "Jane Smith",
                        "updatedAt": "2024-01-20T14:22:33Z"
                      },
                      "metadata": {
                        "cachedUntil": null,
                        "fetchedAt": "2024-01-20T14:22:33Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2CreateAccountResponse"
                }
              }
            },
            "description": "Account successfully created"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "validation_error",
                          "message": "Email is required"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Bad Request - invalid input data"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "access_denied",
                          "message": "You do not have access to the partner API.  Please reach out to sales@inngest.com to gain access."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - authentication required"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "access_denied",
                          "message": "You do not have access to the partner API.  Please reach out to sales@inngest.com to gain access."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Conflict - account already exists"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "default": {
                    "value": {
                      "errors": [
                        {
                          "code": "internal_error",
                          "message": "Something went wrong"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/v2ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create partner account",
        "tags": [
          "Partner API"
        ]
      }
    },
    "/runs": {
      "get": {
        "description": "Lists runs in the authenticated environment, optionally filtered by app and function IDs",
        "operationId": "V2_ListRuns",
        "parameters": [
          {
            "in": "query",
            "name": "includeOutput",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Pagination cursor from previous response",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of runs to return per page (min: 1, max: 100)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "20",
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Inclusive start of the run time range",
            "in": "query",
            "name": "from",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Inclusive end of the run time range",
            "in": "query",
            "name": "until",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Run timestamp field used for filtering and ordering. Accepts queuedAt, startedAt, or endedAt. Snake case aliases such as QUEUED_AT, STARTED_AT, and ENDED_AT are also accepted.",
            "in": "query",
            "name": "timeField",
            "schema": {
              "default": "queuedAt",
              "type": "string"
            }
          },
          {
            "description": "Statuses to include, using response status values such as COMPLETED, FAILED, RUNNING, QUEUED, CANCELLED, SKIPPED, or PAUSED",
            "in": "query",
            "name": "status",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "App IDs to include",
            "in": "query",
            "name": "appId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Function IDs to include",
            "in": "query",
            "name": "functionId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Whether to include only deferred or non-deferred runs",
            "in": "query",
            "name": "isDeferred",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Sort direction. Accepts ASC or DESC.",
            "in": "query",
            "name": "order",
            "schema": {
              "default": "DESC",
              "type": "string"
            }
          },
          {
            "description": "CEL expression used to filter runs by event, output, or error data",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional run expansions. Supported values: deferred_from.",
            "in": "query",
            "name": "include",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListRunsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List runs",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/runs/{runId}": {
      "get": {
        "description": "Fetches the canonical run summary for a single function run",
        "operationId": "V2_GetFunctionRun",
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeOutput",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetFunctionRunResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get function run",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/runs/{runId}/cancel": {
      "post": {
        "description": "Cancels an in-progress function run",
        "operationId": "V2_CancelRun",
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2CancelRunBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2CancelRunResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Cancel function run",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/runs/{runId}/rerun": {
      "post": {
        "description": "Creates a new run using the original run's triggering event data",
        "operationId": "V2_Rerun",
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2RerunBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2RerunResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Rerun function run",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/runs/{runId}/scores": {
      "post": {
        "description": "Submits one or more named scores for a function run, or for specific steps when step IDs are provided. Scores are recorded as run metadata and aggregated for experiments.",
        "operationId": "V2_CreateScore",
        "parameters": [
          {
            "description": "Run ID (ULID) of the function run to score",
            "in": "path",
            "name": "runId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/v2CreateScoreInput"
                },
                "type": "array"
              }
            }
          },
          "required": true,
          "x-originalParamName": "scores"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2CreateScoreResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create score",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/runs/{runId}/trace": {
      "get": {
        "description": "Fetches the trace tree for a single function run",
        "operationId": "V2_GetFunctionTrace",
        "parameters": [
          {
            "in": "path",
            "name": "runId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeOutput",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetFunctionTraceResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get function trace",
        "tags": [
          "Runs"
        ],
        "x-beta": true
      }
    },
    "/sandboxes": {
      "get": {
        "operationId": "V2_ListSandboxes",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ListSandboxesResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List sandboxes",
        "tags": [
          "Sandboxes"
        ],
        "x-beta": true
      },
      "post": {
        "operationId": "V2_CreateSandbox",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2CreateSandboxRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2CreateSandboxResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create a sandbox",
        "tags": [
          "Sandboxes"
        ],
        "x-beta": true
      }
    },
    "/sandboxes/{sandboxId}": {
      "delete": {
        "operationId": "V2_DestroySandbox",
        "parameters": [
          {
            "in": "path",
            "name": "sandboxId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2DestroySandboxResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Destroy a sandbox",
        "tags": [
          "Sandboxes"
        ],
        "x-beta": true
      },
      "get": {
        "operationId": "V2_GetSandbox",
        "parameters": [
          {
            "in": "path",
            "name": "sandboxId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2GetSandboxResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get a sandbox",
        "tags": [
          "Sandboxes"
        ],
        "x-beta": true
      }
    },
    "/sandboxes/{sandboxId}/exec": {
      "post": {
        "operationId": "V2_ExecSandbox",
        "parameters": [
          {
            "in": "path",
            "name": "sandboxId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2ExecSandboxBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2ExecSandboxResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Execute a command in a sandbox",
        "tags": [
          "Sandboxes"
        ],
        "x-beta": true
      }
    },
    "/sandboxes/{sandboxId}/files": {
      "get": {
        "operationId": "V2_ReadSandboxFile",
        "parameters": [
          {
            "in": "path",
            "name": "sandboxId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "binary",
                  "title": "Free form byte stream",
                  "type": "string"
                }
              }
            },
            "description": "A successful response.(streaming responses)"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Read a sandbox file",
        "tags": [
          "Sandboxes"
        ],
        "x-beta": true
      },
      "put": {
        "operationId": "V2_WriteSandboxFile",
        "parameters": [
          {
            "in": "path",
            "name": "sandboxId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apiHttpBody"
[...]
